<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0ddcae98-1f1f-4122-8044-b77ebba284d4/resourceGroups/GymMasterAPI20250514152301ResourceGroup/providers/Microsoft.Web/sites/GymMasterAPI20250514152301</ResourceId>
    <ResourceGroup>GymMasterAPI20250514152301ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0ddcae98-1f1f-4122-8044-b77ebba284d4/resourceGroups/GymMasterAPI20250514152301ResourceGroup/providers/Microsoft.ApiManagement/service/GymMasterAPI/apis/GymMasterAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gymmasterapi20250514152301-h7e6h6gpcbbvbpfb.indonesiacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d2bfba96-842f-c09e-4f1d-440885cb1fd7</ProjectGuid>
    <MSDeployServiceURL>gymmasterapi20250514152301-h7e6h6gpcbbvbpfb.scm.indonesiacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GymMasterAPI20250514152301</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>